<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroUserRealm"/>
    </bean>
    <bean id="shiroFilterFactory" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="filterChainDefinitionMap">
            <map>
                <entry key="/css/**" value="anon"/>
                <entry key="/static/**" value="anon"/>
                <entry key="/js/**" value="anon"/>
                <entry key="/images/**" value="anon" />
                <entry key="/login" value="anon"/>
                <entry key="/**" value="authc"/>
            </map>
        </property>
    </bean>

</beans>